/* main css style  */
.main-section-table {
  width: 90%;
  margin-left: 5%;
}

.factory-main-risk-section {
  width: 100%;
  margin: 30px auto;
  font-size: 14px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 5px 5px 5px 5px;
}

table .text-bold {
  font-weight: bold;
}

table .text-middle {
  text-align: center;
}

table .text-right {
  text-align: right;
}

.borderLess {
  border: none;
}

/* progress risks section style  */
.risk-progress {
  width: 60%;
}

.risk-progress table tr .big-box {
  width: 30%;
}

.risk-progress table tr td {
  padding: 10px;
}

.bg-bold {
  background-color: #DAE2EE;
}